 
.hobbies-title{
    height: 40vh;
    padding: 0 2rem; 
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    text-align: center;
    font-weight: 800;
    background-color: var(--bg-lightblue-1);
}

/*  */
.sec-Hobbies ::selection{
    background-color: var(--bg-lightblue-1);
    color: var(--bg-white);
}

.content__list ::selection{
    background-color: var(--bg-lightblue-2);
    color: var(--bg-white);
}
 

.hb_box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hb_content {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.hb__icon--lightblue {
    color: var(--bg-lightblue-1);
}

.hb__item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hb__icon {
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hb__text {
    padding: .5rem 1rem;
    background-color: var(--bg-lightblue-1);
    color: var(--bg-white);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* ------------------------------------------
                [RESPONSIVE]
------------------------------------------- */

@media only screen and (max-width: 768px) {

    .sec-Hobbies {
        padding: var(--pd-sec-menu);
    }

    .hb__icon {
        font-size: 3rem;
    }

    .hb__text {
        padding: 0.7rem 1rem;
    }
    
}